.cards-category {
  margin-top: 24px;

  .cards-category-name {
    text-transform: uppercase;
    color: #1E406C;
    text-align: center;
    margin: 5px 0 25px;
  }
}

.preview-toggle-btn-wrap {
  display: flex;
  justify-content: center;
}
