.filters {
  background-color: #7A7773;
  padding: 15px 0;

  .filters-line {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    padding: 10px 0;

    &:last-child {
      border-bottom: 0;
    }

    .filters-line-title {
      color: #fff;
      display: flex;
      align-items: center;
    }

    .filters-line-inputs {
      display: flex;
      flex: 1;

      & > * {
        margin-left: 10px;
        flex: 1;

        &:first-child {
          margin-left: 30px;
        }
      }
    }
  }
}
